# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Mastermind_ETU/Mastermind/.vs/Mastermind
/Mastermind_ETU/Mastermind/Code/Debug
/Mastermind_ETU/Mastermind/Debug
/Mastermind_ETU/Mastermind/Launcher/Debug
/Mastermind_ETU/Mastermind/TestsCode/Debug/TestsCode.tlog
*.log
*.idb
*.pdb
/Mastermind_ETU/Mastermind/TestsCode/Debug
/.vs
